body {
  margin: 0;
  padding: 0;
  color: white;
  transition: 400ms;
  padding-top: 120px;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-family: Roboto, sans-serif;
  background-image: linear-gradient(60deg, #01090f 0%, #081b29e8 100%);
}

.paragraph {
  display: flex;
  padding: 20px;
}

p {
  font-size: 20px;
  padding: 30px;
  font-style: italic;
  border-radius: 15px;
  letter-spacing: 2px;
  text-align: justify;
}

p:hover {
  background-color: #01090f;
}

h1 {
  font-size: 25px;

}

h3 {
  font-size: 30px;
  align-items: center;
}

h4 {
  font-size: 25px;
}

/* 
.scroll {
  height: 100px;
}*/

.container {
  max-width: 1400px;
}

.color {
  color: #12fb1d;
}

.color:hover {
  color: rgb(110, 255, 118);
}

html {
  scroll-behavior: smooth;
}

nav {
  position: fixed;
  width: 100%;
  z-index: 9999;
  top: 0;
}

header .available {
  width: 100%;
  cursor: pointer;
  transition: 0.4s;
  letter-spacing: 3px;
  background-color: red;
}

header .available:hover {
  color: black;
  letter-spacing: 10px;
  background-color: #12fb1d;
}

header .available h2 {
  margin: 0;
  padding: 5px;
  text-align: center;
}

header .buttons {
  padding: 15px;
  display: flex;
  align-items: center;
  background-color: #081b29;
  justify-content: space-between;
}

header .buttons i {
  padding: 8px;
  transform: .5s;
  font-size: 30px;
  cursor: pointer;
  transform: rotate(360deg);
}

header .buttons #boton:hover {
  transition: .5s;
  transform: rotate(360deg);
}

header .menu-options {
  width: 60%;
  display: flex;
  height: 100vh;
  transition: .5s;
  align-items: start;
  justify-content: right;
  flex-direction: column;
  background-color: #081b29;
}

.aside-active {
  transform: translate(-1500px);
}

header .menu-options a {
  width: 60%;
  padding: 20px;
  color: white;
  font-size: 20px;
  transition: .5s;
  margin-top: 10px;
  margin-left: 10px;
  border-radius: 15px;
  letter-spacing: 3px;
  text-decoration: none;
}

header .menu-options a:hover {
  border-radius: 15px;
  letter-spacing: 5px;
  background-color: #12fb1d;
}

body.active {
  color: black;
  background-image: linear-gradient(60deg, #ffffff 0%, #cccccc 100%);
}

#home .container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#home .container .image img {
  height: 300px;
  border-radius: 100%;
  box-shadow: 8px 20px 30px 5px rgba(0, 0, 0, 0.646);
}

#home .container .text h1,
h3,
h4 {
  display: flex;
  justify-content: center;
}

.boton {
  display: flex;
  padding: 10px;
  justify-content: center;
}

.boton button {
  padding: 30px;
  font-size: 0.9em;
  border-radius: 20px;
  color: rgb(22, 22, 22);
  background-color: rgb(18, 251, 29);
}

.boton button:hover {
  background-color: rgb(110, 255, 118);
}

.boton button:active {
  background-color: rgb(167, 245, 171);
}

.container .boton a {
  font-size: 30px;
  color: #081b29;
  text-decoration: none;
}

button i {
  font-size: 30px;
  color: #081b29;
}

#experience .boton {
  text-align: center;
  flex-direction: column;
}

#experience .boton .see-project {
  padding: 10px;
  color: white;
}

#prog-skills .container .title {
  display: flex;
  align-items: center;
  justify-content: center;
}

#prog-skills .container .title a {
  padding: 7px;
  color: white;
  text-decoration: none;
}

#prog-skills .container .logo {
  width: 30px;
  height: auto;
}

#prog-skills .container-lenguages {
  padding: 20px;
}

#prog-skills .container-lenguages .container {
  padding: 10px;
  transition: .5s;
  margin-bottom: 20px;
  border-radius: 30px;
  background-color: #040e16;

}

#prog-skills .container-lenguages .container:hover {
  background-color: #01090f;
}

#prog-skills .container-lenguages .text {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#prog-skills .container-lenguages .text h3 {
  font-size: 25px;
  color: #12fb1d;
}

#prog-skills .container-lenguages .text a {
  padding: 20px;
  font-size: 25px;
  letter-spacing: 3px;
}

#prog-skills .container-lenguages .text i {
  padding: 10px;
  font-size: 45px;
}

.diploma{
  display: flex;
  align-items: center;
  justify-content: center;
}
.diploma img {
  width: 90%;
  border-radius: 30px;
}

#studies .title .logo {
  width: 30px;
  height: auto;
  padding: 10px;
}

#studies .title{
  display: flex;
  align-items: center;
  justify-content: center;
}

#studies .title h4 a{
  color: white;
  font-size: 25px;
  text-decoration: none;
}

#studies .text{
  background-color: red;
  padding: 10px;
}

#studies .paragraph a{
  color: white;
  transition: .5s;
}

#studies .paragraph a:hover{
  color: #12fb1d;
}

footer .container{
  display: flex;
  max-width: 100%;
  margin-top: 40px;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgba(0, 0, 0, 0);
}

footer .redes a {
  padding: 5px;
  font-size: 1em;
}

footer .container i:hover {
  color: rgb(18, 251, 29);
}

footer h4 {
  font-size: 1.2em;
  color: rgb(112, 112, 112);
}

footer h4:hover {
  color: rgb(18, 251, 29);
}

footer .fa-brands {
  padding: 5px;
  font-size: 2em;
  color: rgb(112, 112, 112);
}























/*
@media (min-width:800px) {

  body {
    font-size: 2em;
  }

  header .container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    position: fixed;
    background-color: #081b29d9;
    max-width: 100%;
  }

  #skills .container-lenguages {
    margin-top: 600px;
  }

  .container-diploma {
    margin-top: 20px;
  }


  #contact {
    margin-top: 200px;
    margin-bottom: 200px;
  }

  #home {
    margin: 0;
  }

  #home .container {
    justify-content: center;
    width: 100%;
    margin-top: 120px;
  }

  #home .image {
    margin: 0;
  }

  #home .image img {
    width: 30%;
    margin-top: 40px;

  }

  #home p {
    width: 90%;
    text-align: justify;
    justify-content: center;
    margin-top: 10px;
    font-size: 1.2em;
  }

  #home h1 {
    width: 100%;
    text-align: start;
    justify-content: center;
    margin: 0;
  }

  #home h4 {
    width: 100%;
    justify-content: center;
    margin: 0;
    font-size: 1.2em;
  }

  #home h3 {
    width: 100%;
    justify-content: center;
    margin: 0;
    font-size: 1.4em;
  }

  #about .container {
    width: 100%;
    margin: none;
  }

  #about p {
    width: 90%;
    justify-content: start;
    text-align: justify;
    margin-left: 20px;
    font-size: 1.2em;
  }


  #skills h3 {
    margin: 0;
  }

  #skills .container-lenguages {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
  }


  #skills .container-lenguages .text img {
    height: 50px;
    width: auto;
  }

  #skills .container {
    width: 100%;
    margin: 0;
  }

  #skills .text {
    width: 200px;
  }

  #skills .container-diploma img {
    width: 80%;
    border-radius: 30px;
  }

  #skills .container-idioms .text {
    width: auto;
  }

  #skills .pathway-paragraph {
    width: 90%;
    text-align: justify;
  }

  #skills .container-img img {
    width: 30%;
  }

  #experience .container .text p {
    width: 90%;
    font-size: 1em;
    text-align: justify;
  }

  #contact .container h3 {
    font-size: 1.8em;
  }

  #contact .container .boton {
    width: auto;
  }

  #contact .container .boton button {
    width: auto;
    font-size: 0.8em;
  }

  footer h4 {
    margin: 0;
    font-size: 1em;
  }

  footer .redes {
    font-size: 0.8em;
  }
}

body.active {
  transition: 400ms;
  color: #081b29;
  background-image: linear-gradient(60deg, #ffffff 0%, #6a6c6ee8 100%);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;

  #home h1,
  #about h3,
  #skills h3,
  #experience h3,
  #experience a,
  #experience .color,
  #contact h3 {
    color: #081b29;
  }

  #skills .container-lenguages .container h3 {
    color: #081b29;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    color: #09263a;
  }

  h1:hover {
    color: black;
  }

  header .container {
    background-color: #f8f8f8ac;
  }

  header .container a {
    color: #081b29;
  }

  header .container a:hover {
    color: white;
  }

  #skills .container-lenguages .text {
    background-image: linear-gradient(60deg, #ffffff 0%, #6a6c6ee8 100%);
  }

  #skills .container-lenguages .text a {
    color: #081b29;
  }

  #skills .title a {
    font-size: 2em;
  }

  #skills .fa-brands {
    color: #081b29;
  }

  .color {
    color: white;
  }

  #contact .container {
    background-image: linear-gradient(60deg, #ffffff 0%, #6a6c6ee8 100%);
  }

  #contact .container .boton button {
    background-color: white;
  }

  footer .fa-brands:hover,
  footer h4:hover {
    color: #081b29;
  }

  footer h4 {
    color: rgb(112, 112, 112);
  }

} */