* {
  margin: 0;
  padding: 0;

}

body {
  padding: 0;
  color: white;
  transition: 400ms;
  padding-top: 140px;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-family: Roboto, sans-serif;
  background-image: linear-gradient(60deg, #01090f 0%, #081b29e8 100%);
}

.paragraph {
  display: flex;
  padding: 20px;
}

p {
  padding: 30px;
  font-size: 20px;
  transition: .5s;
  font-style: italic;
  border-radius: 15px;
  letter-spacing: 2px;
  text-align: center;

}

p:hover {
  background-color: #01090f;
}

h1 {
  padding: 20px;
  font-size: 25px;
}

h3 {
  font-size: 30px;
  align-items: center;

}

h4 {
  font-size: 25px;
}

.color {
  color: #12fb1d;
}

.color:hover {
  color: rgb(110, 255, 118);
}

html {
  scroll-behavior: smooth;
}

header {
  position: fixed;
  z-index: 9999;
  top: 0;
  height: auto;
  width: 100%;
}

header .available {
  cursor: pointer;
  transition: 0.4s;
  letter-spacing: 3px;
  background-color: red;
}

header .available:hover {
  color: black;
  letter-spacing: 10px;
  background-color: #12fb1d;
}

header .available h2 {
  margin: 0;
  padding: 5px;
  text-align: center;
}

header .buttons {
  padding: 15px;
  display: flex;
  align-items: center;
  background-color: #081b29;
  justify-content: space-between;
}

header .buttons i {
  padding: 8px;
  transform: .5s;
  font-size: 30px;
  cursor: pointer;
  transform: rotate(360deg);
}

header .buttons #boton:hover {
  transition: .5s;
  transform: rotate(360deg);
}

header .menu-options {
  width: 60%;
  display: flex;
  padding: 20px;
  height: 100vh;
  transition: .5s;
  position: fixed;
  align-items: start;
  justify-content: right;
  flex-direction: column;
  background-color: #09141c;
  border-end-end-radius: 30px;
}

.aside-active {
  transform: translate(-1500px);
}

header nav .menu-options ul li {
  position: relative;
  list-style: none;
  padding: 30px;
}

header .menu-options a {
  width: 60%;
  padding: 20px;
  color: white;
  font-size: 20px;
  transition: .5s;
  margin-top: 10px;
  margin-left: 10px;
  border-radius: 15px;
  letter-spacing: 3px;
  text-decoration: none;
}

header .menu-options a:hover {
  border-radius: 15px;
  letter-spacing: 5px;
  background-color: #12fb1d;
}

body.active {
  color: black;
  background-image: linear-gradient(60deg, #ffffff 0%, #cccccc 100%);
}

#home .container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#home .container .image img {
  height: 300px;
  border-radius: 100%;
  box-shadow: 8px 20px 30px 5px rgba(0, 0, 0, 0.646);
}

#home .container .text h1,
h3,
h4 {
  display: flex;
  justify-content: center;
}

.boton {
  margin: 10px;
  display: flex;
  padding: 10px;
  justify-content: center;
}

.boton button {
  border: none;
  padding: 30px;
  font-size: 0.9em;
  border-radius: 20px;
  color: rgb(22, 22, 22);
  background-color: rgb(18, 251, 29);
  transition: .5s;
}

.boton button:hover {
  background-color: rgb(110, 255, 118);
}

.boton button:active {
  background-color: rgb(167, 245, 171);
}

.container .boton a {
  font-size: 30px;
  color: #081b29;
  text-decoration: none;
}

button i {
  font-size: 30px;
  color: #081b29;
}

#experience .boton {
  text-align: center;
  flex-direction: column;
}

#experience .boton .see-project {
  padding: 5px;
  color: white;
  transition: .5s;
  background-color: rgb(255, 62, 62);
  border-radius: 20px;
  text-align: center;
}

#experience .boton .see-project:hover {
  background-color: red;
}

#experience .boton .see-project:active {
  background-color: rgb(255, 62, 62);
}

#prog-skills .container .title{
  display: flex;
  justify-content: center;
}

#prog-skills .container .title a {
  padding: 7px;
  color: white;
  text-decoration: none;
}

#prog-skills .container .boton p {
  padding: 10px;
}

#prog-skills .container .logo {
  width: 30px;
  height: auto;
}

#prog-skills .container-lenguages {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}

#prog-skills .container-lenguages .container {
  padding: 10px;
  transition: .5s;
  margin-bottom: 20px;
  border-radius: 30px;
  background-color: #01090f5b;
  width: 80%;
}

#prog-skills .container-lenguages .container:hover {
  background-color: #01090f;

}

#prog-skills .container-lenguages .text {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#prog-skills .container-lenguages .text h3 {
  font-size: 25px;
  color: #12fb1d;
}

#prog-skills .container-lenguages .text a {
  padding: 10px;
  font-size: 25px;
  letter-spacing: 3px;
  text-align: center;
}

#prog-skills .container-lenguages .text i {
  padding: 10px;
  font-size: 45px;
}

.diploma {
  display: flex;
  align-items: center;
  justify-content: center;
}

.diploma img {
  width: 90%;
  border-radius: 30px;
}

#studies .container h3 {
  padding: 20px;
  margin-top: 30px;
}

#studies .title .logo {
  width: 30px;
  height: auto;
  padding: 10px;
}

#studies .title {
  display: flex;
  align-items: center;
  justify-content: center;
}

#studies .title h4 a {
  color: white;
  font-size: 25px;
  text-decoration: none;
}

#studies .text {
  padding: 10px;
  align-items: center;
  background-color: red;
}

#studies .text h4 {
  padding-top: 0;
}

#studies .paragraph a {
  color: white;
  transition: .5s;
}

#studies .paragraph a:hover {
  color: #12fb1d;
}

footer .container {
  padding: 20px;
  display: flex;
  max-width: 100%;
  margin-top: 40px;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgba(0, 0, 0, 0);
}

footer .fa-brands {
  padding: 5px;
  font-size: 35px;
  transition: .5s;
  color: rgb(112, 112, 112);
}

footer .fa-brands:hover {
  color: #12fb1d;
}

.arrowUp {
  position: fixed;
  width: 40px;
  right: -100px;
  bottom: 20px;
  transition: all 0.5s;
}

.arrowUp .fa-solid {
  background-color: rgb(253, 0, 0);
  color: white;
  align-items: center;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 8px 10px 5px rgba(0, 0, 0, 0.328);
  transition: all 0.5s;
}

.arrowUp .fa-solid:hover {
  background-color: rgb(182, 25, 25);
}

.arrowUp .fa-solid:active {
  background-color: rgb(249, 150, 150);
}

@media (min-width:800px) {

  header .menu-options {
    width: 30%;
  }

  header #menu-options a {
    font-size: 25px;
  }

  main #home .container {
    flex-direction: column;
  }

  main #home .container .image img {
    width: 300px;
    height: auto;
  }

  main #prog-skills .container-lenguages {
    display: flex;
    justify-content: center;
  }

  main #prog-skills .container-lenguages .container {
    width: 50%;
  }
}

@media (min-width:1000px) {

  * {
    margin: 0;
  }

  main {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  main .container-general {
    width: 80%;
  }

  header .menu-options {
    width: 30%;
  }

  #home {
    margin-bottom: 120px;
  }

  main #home .container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: center;
  }

  main #home .container .image {
    margin: 30px;
    display: flex;
    justify-content: center;
  }

  main #home .container .image img {
    height: auto;
    width: 500px;
  }

  main #home .container .text {
    width: 100%;
  }

  main #home .container .text h1 {
    font-size: 40px;
    justify-content: start;
  }

  
  main #home .container .text .color {
    padding: 0;
  }

  main #home .container .text h3 {
    font-size: 60px;
    justify-content: start;
  }

  main #home .container .text h4 {
    justify-content: start;
  }

  main #home .container .text .paragraph {
    padding: 0;
    display: block;
    justify-content: start;
  }

  main #home .container .text .paragraph p {
    padding: 0;
    font-size: 24px;
    display: flex;
    text-align: start;
    justify-content: start;
  }

  .paragraph {
    padding: 0;
  }

  p {
    padding: 20px;
    font-size: 30px;
    text-align: start;
  }

  main #contact {
    margin: 0;
  }

  main #contact .container {
    padding: 10px;
    justify-content: start;
  }

  main #about .container h3,
  main #experience .container h3,
  main #prog-skills .container h3,
  main #studies .container h3 {
    padding: 10px;
    font-size: 60px;
    margin-top: 40px;
    justify-content: start;
  }

  main #experience .container .boton .title {
    display: flex;
    padding: 10px;
    font-size: 40px;
    justify-content: start;
  }

  main #experience .container .boton .see-project {
    padding: 5px;
    font-size: 40px;
    transition: .5s;
    margin-top: 60px;
    margin-top: 60px;
    font-weight: bold;
  }

  main #prog-skills .container-lenguages {
    flex-direction: row;
    align-items: normal;
  }

  main #prog-skills .container-lenguages .container {
    margin-left: 10px;
    margin-right: 10px;
  }

  main #prog-skills .container-lenguages .container h3 {
    font-size: 40px;
  }

  main #prog-skills .container-lenguages .container a {
    font-size: 30px;
  }

  .diploma img {
    width: 60%;
    margin-bottom: 30px;
    box-shadow: 30px 20px 20px black;
  }

  #prog-skills .container .title a,
  #studies .container .title a {
    padding: 10px;
    font-size: 30px;
  }

  #studies .container .text {
    padding: 30px;
    border-radius: 30px;
  }

  #studies .container .text h4 {
    font-size: 30px;
  }

  #contact {
    margin: 40px
  }

  footer {
    padding: 20px;
  }

  footer .fa-brands {
    font-size: 40px;
    transition: .5s;
  }

  footer .fa-brands:hover {
    color: #12fb1d;
  }

}


body.active {
  transition: 400ms;
  color: #081b29;
  background-image: linear-gradient(60deg, #ffffff 0%, #92939578 100%);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;

  #home h1,
  #about h3,
  #skills h3,
  #experience h3,
  #experience a,
  #experience .color,
  #contact h3 {
    color: #081b29;
  }

  .color {
    color: #081b29;
  }

  p:hover {
    background-color: rgba(157, 157, 157, 0.732);
  }

  header .available {
    color: white;
  }

  header .available:hover {
    color: black;
  }

  header .buttons {
    padding: 15px;
    color: black;
    background-color: #c3c3c3;
  }

  header .menu-options {
    background-color: #c3c3c3;
  }

  header nav .menu-options ul li {
    position: relative;
    list-style: none;
    padding: 30px;
  }

  header .menu-options a {
    color: rgb(46, 46, 46);
  }

  header .menu-options a:hover {
    border-radius: 15px;
    letter-spacing: 5px;
    background-color: #cccccc;
  }

  .boton button {
    color: rgb(22, 22, 22);
    background-color: rgb(255, 255, 255);
  }

  .boton button:hover {
    background-color: rgb(189, 189, 189);
  }

  .boton button:active {
    background-color: rgb(219, 219, 219);
  }

  #experience .boton .see-project {
    padding: 5px;
    color: rgb(0, 0, 0);
    background-color: #cccccc;
  }

  #experience .boton .see-project:hover {
    border-radius: 20px;
    background-color: #c3c3c3;
  }

  #experience .boton .see-project:active {
    background-color: rgb(255, 255, 255);
  }

  #prog-skills .container .title a {
    color: #09141c;
  }

  #prog-skills .container-lenguages .container {
    background-color: #01090f5b;

  }

  #prog-skills .container-lenguages .container:hover {
    background-color: #c3c3c3;
  }

  #prog-skills .container-lenguages .text h3 {
    font-size: 40px;
    color: white;
  }

  #prog-skills .container-lenguages .text a {
    color: white;
  }

  #prog-skills .container-lenguages .text i {
    color: white;
  }

  #studies .title h4 a {
    color: #09141c;
  }

  #studies .paragraph a {
    color: rgb(113, 113, 113);
  }

  #studies .paragraph a:hover {
    color: #fafafa;
  }

  footer .fa-brands {
    color: #787878;
  }

  footer .fa-brands:hover {
    color: #c3c3c3;
  }

  .arrowUp .fa-solid {
    background-color: #ff0000;
    color: #ffffff;
  }

  .arrowUp .fa-solid:hover {
    background-color: #ee7777;
  }

  .arrowUp .fa-solid:active {
    background-color: rgb(255, 255, 255);
  }
}